@using YIS.GDPDataHandler.Db;
@model IndustryAnnualGDP

@{
    ViewBag.Title = "Bathos Insights";
}

<h2>Bahos Insights</h2>
<div id="gdpdata">
    <table id="gdpdatatable">
       <thead>
           <tr>
               <th>Industry</th>
               <th>GDP Value</th>
           </tr>
       </thead>
        <tbody>
            <tr><td>Steel</td><td>1.5</td></tr>
        </tbody>
    </table>
    <p>Hello World!</p>
</div>

