@using YIS.GDPDataHandler.Db;
@model List<IndustryAnnualGDP>

@{
    ViewBag.Title = "Bathos Insights";
}

<h2>Bahos Insights</h2>
<div id="gdpdata">
    <table id="gdpdatatable">
       <thead>
           <tr>
               <th>Industry</th>
               <th>GDP Value</th>
               <th>Year</th>
           </tr>
       </thead>
        <tbody>
            <tr>
            <td>@Model.FirstOrDefault().Sector</td>
            <td>@Model.FirstOrDefault().Value</td>
            <td>@Model.FirstOrDefault().DateCode</td>
            </tr>
        </tbody>
    </table>
</div>

